# Dependencies
node_modules/
.pnpm-debug.log

# Build
dist/
build/

# Environments & Secrets
.env
.env.local
.env.*.local
*.pem

# Prisma
/prisma/migrations/
!/prisma/migrations/migration_lock.toml

# OS & IDE
.DS_Store
.vscode/
.idea/

# Docker
.docker-data/

apps/api/dist/
apps/api/src/generated/prisma/